@import 'preset.scss';

html, body{
	background-color: #f5efe1;
}

*{
	cursor: url('../cursor/cursor-black.cur'), default;
}

body{
	height: 100vh;
	width: 100vw;
	text-align: center;

	.parent3 {
		position: relative;
		height: 100vh;
		width: 100vw;
	}
	
	.child3 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.text404{
	font-weight: 400;
}


.msg-err{
	border-bottom: 0.2vmax #dc3545 solid;
	animation-name: underline-err;
	animation-duration: .80s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.46,.03,.52,.96);
}

/* The animation code */
@keyframes underline-err {
	0%{border-bottom-color: transparent}
	50%{border-bottom-color: #dc3545}
	100%{border-bottom-color: transparent}
}