@import 'preset.scss';

html, body{
	background-color: #f5efe1;
}

*{
	cursor: url('../cursor/cursor-black.cur'), default;
}

.loader-container{
	cursor: url('../cursor/cursor-salt.cur'), default;
	position: fixed;;
	color: #f5efe1;
	background: #0b0b0b;
	height: 100vh;
	width: 100%;
	opacity: 1;
	z-index: 10;

	div#pycon{
		position: absolute;
		left: 70vw;
		top: 62vh;
		font-size: 6.09722vw;
		line-height: 7.63889vw;

		span#p01{
			font-size: 7.09722vw;
		}
	}

	.half-text-border-left-container{
		//bottom: -3.47222vw;
		//left: 10.66667vw;
		left: -3.07222vw;
		top: 10.66667vh;
		position: absolute;
		overflow: hidden;
		writing-mode: tb-rl;

		.half-text-border-left{
			overflow: hidden;
			font-size: 6.09722vw;
			line-height: 7.63889vw;
			font-weight: 500;
			letter-spacing: -.02em;
		}
	}

	.link-container{
		display:flex;
	
		.link{
			position: relative;
			float: left;
			display: block;

			text-decoration: none;
			margin: 0;
			padding: 0;
			border: 0;

			.link-underline{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;
				pointer-events: none;
				transform: translateZ(0);
			}

			.link-underline::before{
				transition: transform .8s cubic-bezier(.65,.05,.36,1) .2s;
			}

			.link-underline::after{
				transform: translateX(-102%);
				transition: transform .8s cubic-bezier(.65,.05,.36,1);
			}

			.link-underline::before, .link-underline::after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-bottom: 2px solid #f5efe1;
			}
		}

		//when mouse hover
		.linkHover{
			.link-underline::before{
				transform: translateX(102%);
				transition: transform .8s cubic-bezier(.65,.05,.36,1);
			}

			.link-underline::after{
				transform: translateX(0);
				transition: transform .8s cubic-bezier(.65,.05,.36,1) .2s;
				}
		}
	}
}

.loaderExpire{
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.app{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 1;
	cursor: url('../cursor/cursor-black.cur'), default;
	word-wrap: break-word;
	height: 100vh;
	text-align: center;

	.parent3 {
		position: relative;
		height: 100vh;
		width: 100vw;
	}
	
	.child3 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.clockContainer{
		text-align: unset;
		position: absolute;
		right: 0;
		top: 0;




		.dot{
			animation-name: "dotPulse";
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}

		@keyframes dotPulse {
			0%    {opacity: 1;}
			50%   {opacity: 0;}
			100%  {opacity: 1;}
		}
	
	
	}


}

