@import 'preset';

body{
	height: 100%;
	width: 100%;
 }

.half-text-border-top-container{
	top: -3.47222vw;
	right: 10.66667vw;
	position: absolute;
	overflow: hidden;

	.half-text-border-top{
		font-size: 6.09722vw;
		line-height: 7.63889vw;
		font-weight: 500;
		letter-spacing: -.02em;
	}
}

.prjctContainer{
	height: 100%;
	
	.photoContainer{
		.photo{
			display: block;
			width: 100%;
			filter: none;
			transition: filter 1.5s ease;
			
		}

		.photo:hover{
			filter:hue-rotate(120deg);
			transition: filter 1.5s ease;
			
		}

	 }

	.captionContainer{
		.caption{

		}

	}

}








