@import 'preset';

/*************************************************************************/

.v1{
	.main1{
		height: 100vh;
		width: 100%;

		background-image: radial-gradient(circle, #ddd 1px, rgba(0,0,0,0) 1px);
		background-size: 1rem 1rem;

		.half-text-border-top-container{
			top: -3.47222vw;
			right: 10.66667vw;
			position: absolute;
			overflow: hidden;
		
			.half-text-border-top{
				font-size: 6.09722vw;
				line-height: 7.63889vw;
				font-weight: 500;
				letter-spacing: -.02em;
			}
		}
	}



	.half-text-border-left-container{
		//bottom: -3.47222vw;
		//left: 10.66667vw;
		left: -3.47222vw;
		top: 10.66667vh;
		position: absolute;
		overflow: hidden;
		writing-mode: tb-rl;

		.half-text-border-left{
			overflow: hidden;
			font-size: 6.09722vw;
			line-height: 7.63889vw;
			font-weight: 500;
			letter-spacing: -.02em;
		}
	}

	.center-text-name-container{
		height: 100%;
		display:flex;
		justify-content:center;
		align-items:center;

		.center-text-name{
			font-size: 6.09722vw;
			line-height: 7vw;
			font-weight: 500;
			letter-spacing: -.02em;

			@media only screen and (max-width: 768px){
				color: #000000;
			}

			@media only screen and (min-width: 768px){
				@supports (-webkit-text-stroke-width: 2px) and (-webkit-text-stroke-color: #ff0000){
					color: transparent;
					-webkit-text-stroke-width: 2px;
					-webkit-text-stroke-color: #ff0000;
				}
			}
		}
	}

	.link-container{
		.link{
			position: relative;
			float: left;
			display: block;
	
			text-decoration: none;
			margin: 0;
			padding: 0;
			border: 0;

			.link-underline{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;
				pointer-events: none;
				transform: translateZ(0);
			}

			.link-underline::before{
				transition: transform .8s cubic-bezier(.65,.05,.36,1) .2s;
			}

			.link-underline::after{
				transform: translateX(-102%);
				transition: transform .8s cubic-bezier(.65,.05,.36,1);
			}

			.link-underline::before, .link-underline::after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-bottom: 2px solid #000;
			}
		}

		//when mouse hover
		.link:hover{
			.link-underline::before{
				transform: translateX(102%);
				transition: transform .8s cubic-bezier(.65,.05,.36,1);
			}

			.link-underline::after{
				transform: translateX(0);
				transition: transform .8s cubic-bezier(.65,.05,.36,1) .2s;
			}
		}
	}
}
